* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300;500&display=swap");

/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  background-color: #f1f5f9;
}

.header {
  text-align: center;
  margin-top: 5rem;
}

.main-center {
  padding: 4rem 0 5rem 0;
}

img {
  display: block;
  width: 100%;
}

h1,
h4 {
  font-family: "Roboto", sans-serif;
}

.underline {
  height: 4px;
  width: 75px;
  background-color: #c59d5f;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.heading {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  color: #1e293b;
}

.butns {
  margin-top: 2rem;
  display: flex;
  gap: 0 1rem;
  justify-content: center;
}

.btn {
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  color: #c59d5f;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.1rem;
  font-size: 0.95rem;
  border-radius: 0.5rem;
  border: 2px solid #926e37;
  cursor: pointer;
  transition: all 0.3s linear;
}

.btn:hover {
  background-color: #c59d5f;
  color: white;
}

.main-center {
  width: 80vw;
  max-width: 400px;
  margin: 0 auto;
  display: grid;
  place-content: center;
  gap: 2.5rem 0;
}

.item-img {
  border: 5px solid #c59d5f;
  border-radius: 0.5rem;
}

.photo {
  object-fit: cover;
  height: 200px;
}

.description {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.2rem;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.item-name {
  text-transform: capitalize;
  color: #1e293b;
}

.price {
  color: #c59d5f;
}

.about {
  border-top: 1px dotted #34445e;
  padding-top: 1rem;
  color: grey;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
  .main-center {
    width: 70vw;
    max-width: 1170px;
  }

  .about {
    max-width: 25rem;
    font-size: 1rem;
  }

  .description {
    margin-top: 0;
  }

  .item {
    display: grid;
    grid-template-columns: 225px 1fr;
    align-items: start;
    gap: 0 1rem;
  }

  .item-img {
    width: 225px;
  }

  .photo {
    height: 175px;
  }

  .description {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .main-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem 2rem;
    width: 95vw;
  }

  .photo {
    height: 150px;
  }
}
